body{
    background-color: rgb(49, 48, 48);
}
*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
#imagenrobo{
    display: inline-block;
    width: 600px;
    text-align: center;
    margin: auto;
}
#descricao{
    display: inline-block;
    margin: auto;
    float: right;
}
article{
    width: 100%;
    margin: auto;
    text-align: center;
}
#article-container{
    margin: auto;
    width: 43%;
}
img{
    width: 100%;
    height: 100%;
}