body{
    background-color: rgb(70, 69, 69);
}
*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
#monge-container{
    width: 650px;
    margin: auto;
    display: flex;
    flex-flow: row;
}
#img-div{
    width: 400px;
}
img{
    width: 100%;
}
#status{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
#status input{
    width: 40px;
    outline: none;
}
#containerstatus{
    border:1px solid black;
}
#containerstatus > p{
    border-bottom: 1px solid black;
    padding: 2px;
}